<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
 
  <test name="Test in Chrome">
  	<parameter name="browser" value="Chrome"/> 	
    <classes>
      <class name="web.FirstSample">
      	<methods>
      		<include name="ssoLogin"/>
      		<include name="homePage"/>
      	</methods>
      </class>
    </classes>
  </test> 
 
  <test name="Test in IE">
  	<parameter name="browser" value="Internet Explorer"/> 	
    <classes>
      <class name="web.FirstSample">
      	<methods>
      		<exclude name="homePage"/>      	
      	</methods>
      </class>
    </classes>
  </test> 
</suite> <!-- Suite -->
